@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: 12px;
  border-radius: 10px;
  min-height: 0;
  font-family: 'iA Writer Mono S';
  font-size: 13px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  background-color: @background;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 12px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#memory,
#custom-gpuusage,
#custom-omarchy,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  background-color: @background;
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

